[submodule "thirdparty/vk-bootstrap"]
	path = thirdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/fastgltf"]
	path = thirdparty/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
